[submodule "Drivers/driver-bma400"]
	path = Drivers/driver-bma400
	url = git@github.com:Lynkz-Instruments/driver-bma400.git
[submodule "Drivers/lib-stm32wl-utils"]
	path = Drivers/lib-stm32wl-utils
	url = git@github.com:Lynkz-Instruments/lib-stm32wl-utils.git
